@media (max-width: 600px) { 
    .container {
        padding: 0px 20px;
    }
    .banner-image {
        background-image: none;
    }
    .nav-section img {
        width: 60%;
    }
    .toggle-menu {
        width: 100%;
        display: block;
      }
      .toggle-menu i {
        width: 100%;
        color: #ededed;
        font-size: 1rem;
      }

      .hiddenNavbar {
        position: absolute;
        left: -100%;
        width: 100%;
        /* background-color: var(--secondary-color); */
        background-color: #EBEBEB;
        transition: left 0.3s ease-in-out;
      }
      .navbar-btn-flex {
        margin-right: 10px;
        padding: 2.5vw;
        background-color: var(--text-color);
        border-radius: 35px;
      }
    
      .show-navbar-ul li:hover {
        color: var(--text-color); }
    
        .show-navbar-ul li:hover {
            background: var(--text-color);
            color: white;
        }

      .show-navbar-ul li {
        padding: 15px 20px;
        color: white;
      }
      ul.show-navbar-ul {
        text-align: center;
        padding: 10px 0px;
        width: 100%;
    }

    ul.show-navbar-ul li a {
        /* color: #ededed; */
        color: #272725;
        
    }

      .changeColor {
        /* background-color: var(--secondary-color); */
        /* background-color: #EBEBEB; */
        background-color: #D2D2D2;

      }
       .showNavbar {
        left: 0;  
        top: 60px;

    } 
    
      .navbar-flex {
        justify-content: space-around;
        gap: 20px;
    }
    nav {
        display: none;
    }


.hero-flex {
    margin-top: 0px;
    gap: 0px;
}
.hero-text-div {
    justify-content: center;
}
.hero-text-div h1 {
    font-size: 2rem;
    margin-top: 0px; 
    line-height: 2rem;
}
    .hero-text-div h1 span {
        font-size: 2rem;
        font-family: "Cagliostro", sans-serif;
    }
    .paragraph-1 {
        font-size: 1.1rem;
        line-height: 2rem;
        margin-bottom: 0px;
    }
    .containerrr p {
        font-size: 1rem;
    }
    .containerrr p span.typed-text {
        font-size: 2.4rem;
        line-height: 2rem;
    }
    .banner-image {
        min-height: 100vh;}
    .text-p-1 {
        font-size: 1.1rem;
    }
    .connect-div {
        width: 62%;
    }.connect-text-flex {
        flex-direction: column-reverse;
    }

/* .therapy-inner-div {
    flex: 0 0 46%;
    display: flex;
    gap: 10px;
} */
.therapy-inner-div {
    flex: 0 0%;
    display: flex;
    gap: 10px;
    margin-right: 0px;
}

.therapy-inner-div img {

}
.therapy-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

    .hero-text-div button {
        width: 100%;
    }
    .quote {
        font-size: .9rem;
        line-height: 35px;
        padding-bottom: 15px;
    }
    .quote-text-span em {
        font-size: 1rem;
    }
    .quote-name {
        margin-top: 15px;
        font-size: 2rem;
    }
    .welcome-section { 
        background-image: none;
    min-height: 750px;
    }

        .welcome-div {
            flex-direction: column;
            padding-top: 40px;
            gap: 30px;
        }
        .welcome-heading-wrapper {
            width: 100%;
        }
        .heading {
            font-size: 2rem;
            line-height: 3rem;
        }
        .welcome-heading-wrapper img {
            display: none;
        }
        .paragraph {
            font-size: 1rem;
            line-height: 30px;
            margin-bottom: 20px;
        }
        .welcome-image-wrapper {
            margin-top: 20px;
        }
        .welcome-image-wrapper img+img {
            display: none;
        }
        .services-text {
            font-size: 1rem;
        }
        .help-section {
            margin-top: 70px;
        }
        .heading.services {
            left: 0px;
        }
        .list {
            left: 0px;
        }

.heading.services.two {
    margin-top: 0px;
}
.appointment-div {
    flex-direction: column;
    gap: 20px;
}
.appointment-section {
    max-height: 345px;
    background-image: url("https://assets-global.website-files.com/62ef010408977750395b517c/62ef75cb043a3627e6f882e5_bg_cta_flower.png");
    background-position: 0 0;
    padding: 30px 0px;
}
.appointment-text {
    text-align: center;
    font-size: 1.2rem;
}

.text-span-3 {
    font-size: 1.2rem;
}
.appointment-div button {
    border: none;
    width: 100%;}

    .contact-section {
        background-image: none;
        min-height: 600px;
        padding: 20px 0px;
    }
    .text-span-4 {
        font-size: 3rem;
    }
    .form {
        min-width: 100%;
        gap: 20px;
    }
    .location-div {
        padding: 20px 0px;
    }
    .paragraph-3 {
        font-size: 1rem;
        line-height: 25px;
    }
    .text-block-3 {
        text-align: center;
    }
    .hero-flex {
        flex-direction: column;
    padding-bottom: 0px;
    height: 100vh;
    align-items: center;
    }


    .quote-div {
        width: 100%;
        flex-direction: column;
        padding: 0px 0px;
        height: 100%;
        justify-content: flex-end;
    }
.quote-image-div img {
    height: 100%;
}
        
.help-and-methods-div { 
    flex-direction: column;
}
.welcome-text-wrapper {
    width: 100%;
}
.accordion-flex {
    flex-direction: column;
}
.team-member {
    flex-direction: column;
    gap: 30px;
} 
.member-div-flex {
    flex-direction: column;
    gap: 10px;
}
.location-icon {
    width: 100px;
    height: 100px;
}
.navbar-btn-flex {
    visibility: visible;
}

.quote-text-div {
    margin: 10px 0px;
}
.div-methods-img img {
    margin-top: 30px;
}
.nav-flex-1 {
    display: flex;
}
.form button {
    padding: 20px 12px;
    margin-bottom: 20px;
}
.quote-text-div h1 span {
    font-size: 3rem;
    line-height: 3rem;
}
.nav-section {
    padding: 15px 0px;
}
.connect-text-flex {
    display: none;
  }
  .connect-text-flex-1 {
    display: flex;
    flex: 0 0 30%;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 30%;

  } 
  .hero-text-div {
    flex: 0 1 15%;
    height: 15%;
}

.hero-img-wrapper {
    flex: 0 0 0%;
    /* height: 49%; */
    width: 100%;

}
.potential-div p {
    font-size: 1.3rem;
}
.scroll-btn {
    background-color: var(--text-color);
    color: white;
    border-radius: 50px;
    /* margin-top: 35px; */
    padding: 15px 50px 17px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background-color .7s;
    border: none;
    width: 100%;
}
/* .hero-img-wrapper img {
    height: 100%;
} */
.hero-img-wrapper img {
    height: 100%;
    object-fit: fill;
    width: 100%;
}
.quote-image-div {
    height: 30%;
}
.quote-container {
    height: 28%;
    justify-content: space-around;
}
p.paragraph-quote {
    margin-top: 10px;
}
.text-span-20 {
    font-size: 2.4rem;
    font-family: 'Allura';
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.red-text {
    color: red;
  }
}
